<%= bootstrap_form_with(model: topic, local: true) do |form| %>
  <%= render(partial: "layouts/error_display",locals: {error_display: topic}) %>

  <div class="form-group">
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
