<div class="container">
	<div class="row">
		<div class="col-md-6">


			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Name:</strong>
			  <%= @topic.name %>
			</p>

			<%= link_to 'Edit', edit_topic_path(@topic) %> |
			<%= link_to 'Back', topics_path %>
</div>
</div>
</div>