<% if error_display.errors.any? %>
  <div id="error_explanation" class="alert alert-warning">
    <h2><%= pluralize(error_display.errors.count, "error") %> prohibited this action from being saved</h2>
  </div>
<% end %>