<h1>Editing Rating</h1>

<%= render 'form', rating: @rating %>

<%= link_to 'Show', topic_post_rating_path(params[:topic_id],params[:post_id],@rating) %> |
<%= link_to 'Back', topic_post_ratings_path(params[:topic_id],params[:post_id]) %>
