<%= form_with url: posts_show_details_path, html: {method: "GET"} do |f| %>

<div class="text-center">
  <label>From date</label> <%= date_field_tag(:datetime_from, Date.yesterday,class:"date")%>
  <label>To date</label> <%= date_field_tag(:datetime_to, Date.today,class:"date")%>
</div>
  <div class="text-center"><%= f.submit "Show Details",class:"btn btn-secondary" %></div>
<br>

<% end %>

<!--<form class="form">-->
<!--  <div class="text-center"> <label>From date</label> <%#= date_field_tag(:datetime_from, Date.yesterday,class:"date")%> <label>To date</label> <%#= date_field_tag(:datetime_to, Date.today,class:"date")%> </div>-->
<!--  <br>-->
<!--  <div class="text-center"><input type="submit" value="Show Details" class="btn btn-secondary" method="get" data-remote="true"></div>-->
<!--</form>-->