<div class="container">
	<div class="row">
		<div class="col-md-offset-4">
			
			<%= bootstrap_form_for @post, url: topic_post_path, method: :patch do |p| %>
				<p>
					<%= p.text_field :title %>
				</p>
				<p>
					<%= p.text_area :body %>
				</p>
				<p> <%= p.submit %> </p>
			<% end %>
		</div>
	</div>
</div>
