<%= link_to 'Delete', topic_post_path , method: :delete, class: "btn btn-danger d-inline-block  post-btn",
            data: { confirm: 'Are you sure?' } %>
<h2>Edit Post</h2>
<p><%= render 'form', edit_post: @post %></p>
