<ul class="post-list">
  <p><%= will_paginate @posts, renderer: BootstrapPagination::Rails%></p>
  <% @posts.each do |f| %>
    <div class="container">
      <div class="row home-content">
        <h2><%= link_to f.title+' ('+f.topic.name.upcase+") ", topic_post_path(f.topic_id,f), class: "list-heading " %></h2>
        <p><li class="list-body"><%= f.body %></li></p>
      </div>
    </div>
  <% end %>
  <p><%= will_paginate @posts, renderer: BootstrapPagination::Rails%></p>
</ul>

			