<div class="container">
	<div class="row">
		<div class="col-md-12">

			<%= will_paginate @post, renderer: BootstrapPagination::Rails%>
			<ul class="post-list">
				<% @post.each do |f| %>
					<h2><%= link_to f.title+" ("+f.topic.name.upcase+")", topic_post_path(f.topic_id,f), class: "list-heading" %></h2>
					<li class="list-body"><p><%= f.body %></p></li>
				<% end %>
			</ul>

			<%= will_paginate @post, renderer: BootstrapPagination::Rails %>
		</div>
		<div class="co-md-6"></div>
	</div>
</div>
			
