$state-danger-text: #dc3545;



body{
	padding:80px;
}

::-webkit-calendar-picker-indicator { display: none; }

.ui-datepicker
{
  margin-top: 0px;
  z-index: 1003 !important;
}

.post-btn{
	margin-left:10px;
	float:right;
}

.post-body{
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
}

.post-list{

	li{
		list-style:none;

	}

	.list-heading{
		color:#6b6e72;
	}

	.list-body{
		margin-top: 15px;
		margin-left: 50px;
	}
}
.pagination{
	justify-content: center !important;
	li{
		border: 0.5px solid #ddd;
  		padding: 8px 16px;
  		text-decoration: none;
	}
}


.rating-form{
  display: block;
	.form-check{
		display: inline;
	}
}

.show-btn{
	float:left;
	margin-right:20px;
}

.rating-view{
  padding: 2px;
  border: gold 2px solid ;
  display:inline;
}

.field_with_errors {
  textarea , input{
    border-radius: 0.25rem;
    border: 1px solid  $state-danger-text !important;
    padding-right: 2.25rem;
  }
}

.error_small{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-space{
  margin-left:10px;
}

.read-status{
  background-color: #42f486;
  color: #000000;
  padding: 3px;
  border-radius: 5px;
}

.unread-status{
  background-color: #dc3545;
  color: #F7F7F7;
  padding: 3px;
  border-radius: 5px;
}
