<nav class="navbar navbar-light bg-light justify-content-between">
	<div class="container">
		<div class="row">
  			  <%= link_to "Blog", root_path, class: "navbar-brand" %>
			      
  			  	  <%= link_to "Home", root_path, class: "nav-item nav-link active" %>
			      <%= link_to "View Topics", topics_path, class: "nav-item nav-link active" %>
			      
		</div>
	</div>
</nav>
